<div class="container dashboard">
  <div class="dashboard-main-header">
    <h1>Dashboard</h1>
  </div>

  <div class="dashboard-subheading">
    <h3>Rehearsals where I am the host:</h3>
    <% if @my_hostings.count > 0 %>
    <div class="row">
      <% @my_hostings.each do |booking| %>
        <div class="col-xs-6 col-sm-4">
          <%= link_to booking_path(booking) do %>
            <div class="card">

              <% if booking.room.room_images.count > 0 %>

                <div class="picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path(booking.room.room_images[0].image) %>);">
                  <div class="status-box">
                    <h4 style="color: <%= booking.color %> !important">Status: <%= booking.status.capitalize %></h4>
                    <div class="card-links">
                      <% if booking.status == 'pending' %>

                        <%= link_to 'Accept', booking_path(booking, status: 'accepted'), method: :patch %>
                        <%= link_to 'Decline', booking_path(booking, status: 'declined'), method: :patch %>

                      <% elsif booking.status == 'accepted' %>
                        <p></p>
                      <% else %>
                        <p></p>
                      <% end %>
                    </div>
                  </div>
                </div>

              <% else %>

                <div class="picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1526142684086-7ebd69df27a5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f5767f515cad13d5aa42559ec8bb9a55&auto=format&fit=crop&w=1950&q=80');">
                  <div class="status-box">
                    <h4 style="color: <%= booking.color %> !important">Status: <%= booking.status.capitalize %></h4>
                    <div class="card-links">
                      <% if booking.status == 'pending' %>

                        <%= link_to 'Accept', booking_path(booking, status: 'accepted'), method: :patch %>
                        <%= link_to 'Decline', booking_path(booking, status: 'declined'), method: :patch %>

                        <% elsif booking.status == 'accepted' %>
                        <p></p>
                        <% else %>
                        <p></p>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>

              <div class="card-description">
                <h3><%= booking.room.instrument_type %> in <%= booking.room.location %></h3>
                <p>Location: <%= booking.room.location %></p>
                <p>Rental price: <%= booking.room.currency %>
                  <%= booking.room.price %>/hr</p>
              </div>

            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <% else %>
    <p>🥺 You don't have any rehearsals to host at the moment.</p>
    <% end %>
  </div>

  <div class="dashboard-subheading">
    <h3>Rehearsals I have booked:</h3>
    <% if @my_bookings.count > 0 %>
    <div class="row">
      <% @my_bookings.each do |booking| %>
        <div class="col-xs-6 col-sm-4">
          <%= link_to booking_path(booking) do %>
            <div class="card">
              <% if booking.room.room_images.count > 0 %>
                <div class="picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path(booking.room.room_images[0].image) %>);">
                  <div class="status-box">
                    <h4 style="color: <%= booking.color %> !important">Status: <%= booking.status.capitalize %></h4>
                  </div>
                </div>
              <% else %>
                <div class="picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1526142684086-7ebd69df27a5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f5767f515cad13d5aa42559ec8bb9a55&auto=format&fit=crop&w=1950&q=80');">
                  <div class="status-box">
                    <h4 style="color: <%= booking.color %> !important">Status: <%= booking.status.capitalize %></h4>
                  </div>
                </div>
              <% end %>

              <div class="card-description">
                <h3><%= booking.room.instrument_type %> in <%= booking.room.location %></h3>
                <p>Host: <%= User.find(booking.room.user_id).first_name %></p>
                <p>Location: <%= booking.room.location %></p>
                <p>Rental price: <%= booking.room.currency %>
                  <%= booking.room.price %>/hr</p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <% else %>
    <p>😳 You don't have any upcoming rehearsals to go.</p>
    <% end %>
  </div>
</div>
