<div class="container dashboard">
  <div class="dashboard-main-header">
    <h1>Dashboard</h1>
  </div>
  <div class="dashboard-subheading">
    <h3>Rehearsals where I am the host:</h3>
    <div class="row">
      <% @my_hostings.each do |booking| %>
        <div class="col-xs-6 col-sm-4">
          <div class="card">
            <% if booking.room.room_images.count > 0 %>
              <div class="picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path(booking.room.room_images[0].image) %>);">
              </div>
            <% else %>
              <div class="picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1526142684086-7ebd69df27a5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f5767f515cad13d5aa42559ec8bb9a55&auto=format&fit=crop&w=1950&q=80');">
              </div>
            <% end %>

            <div class="card-description">
              <h3>Play the <%= booking.room.instrument_type %></h3>
              <p>Location: <%= booking.room.location %></p>
              <p>Start time: <%= booking.start_time.strftime("%b %e, %l:%M %p") %></p>
              <p>End time: <%= booking.end_time.strftime("%b %e, %l:%M %p") %></p>
              <p>Rental price:
              <% if ['Shanghai', 'Chengdu', 'Beijing'].include?(booking.room.location) %>
                  ¥
              <% elsif booking.room.location == 'Hong Kong' %>
                  HK$
              <% elsif booking.room.location == 'Seoul' %>
                  ₩
              <% else %>
                  €
              <% end %>
                <%= booking.room.price %>/hr</p>
            </div>

            <div class="card-links">
              <%= link_to "More info", booking_path(booking), class: "btn btn-card" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="dashboard-subheading">
    <h3>Rehearsals I have booked:</h3>
    <div class="row">
      <% @my_bookings.each do |booking| %>
        <div class="col-xs-6 col-sm-4">
          <div class="card">
            <% if booking.room.room_images.count > 0 %>
              <div class="picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path(booking.room.room_images[0].image) %>);">
              </div>
            <% else %>
              <div class="picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1526142684086-7ebd69df27a5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f5767f515cad13d5aa42559ec8bb9a55&auto=format&fit=crop&w=1950&q=80');">
              </div>
            <% end %>

            <div class="card-description">
              <h3>Play the <%= booking.room.instrument_type %></h3>
              <p>Host: <%= User.find(booking.room.user_id).first_name %></p>
              <p>Location: <%= booking.room.location %></p>
              <p>Start time: <%= booking.start_time.strftime("%b %e, %l:%M %p") %></p>
              <p>End time: <%= booking.end_time.strftime("%b %e, %l:%M %p") %></p>
              <p>Rental price:
              <% if ['Shanghai', 'Chengdu', 'Beijing'].include?(booking.room.location) %>
                  ¥
              <% elsif booking.room.location == 'Hong Kong' %>
                  HK$
              <% elsif booking.room.location == 'Seoul' %>
                  ₩
              <% else %>
                  €
              <% end %>
                <%= booking.room.price %>/hr</p>
            </div>

            <div class="card-links">
              <%= link_to "More info", booking_path(booking), class: "btn btn-card" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
