<div class="container">
  <h1>Dashboard</h1>
  <h3>Rehearsals where I am the host:</h3>
    <% @my_hostings.each do |hosting| %>
      <p>Description: <%= hosting.room.description %></p>
      <p>Start time: <%= hosting.start_time %></p>
      <p>End time: <%= hosting.end_time %></p>
    <% end %>
  <h3>Rehearsals I have booked:</h3>
    <% @my_bookings.each do |booking| %>
      <p>Description: <%= booking.room.description %></p>
      <p>Start time: <%= booking.start_time %></p>
      <p>End time: <%= booking.end_time %></p>
    <% end %>
</div>
