<% if @booking.room.room_images == nil %>
  <div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path(room.room_images[0].image) %>);">
  </div>
<% else %>
  <div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1526142684086-7ebd69df27a5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f5767f515cad13d5aa42559ec8bb9a55&auto=format&fit=crop&w=1950&q=80');">
  </div>
<% end %>

<div class="container">
  <h3><%= @booking.user.first_name %> will play the <%= @booking.room.instrument_type %> and <%= @booking.room.user.first_name %>'s house</h3>
  <p>Location: <%= @booking.room.location %></p>
  <p>Start time: <%= @booking.start_time.strftime("%b %e, %l:%M %p") %></p>
  <p>End time: <%= @booking.end_time.strftime("%b %e, %l:%M %p") %></p>
  <p>Rental price:
    <% if ['Shanghai', 'Chengdu', 'Beijing'].include?(@booking.room.location) %>
      ¥
    <% elsif @booking.room.location == 'Hong Kong' %>
      HK$
    <% elsif @booking.room.location == 'Seoul' %>
      ₩
    <% else %>
      €
    <% end %>
  <%= @booking.room.price %>/hr</p>
  <%= link_to "Delete booking?", booking_path(@booking),
      method: :delete,
      data: { confirm: "Are you sure you want to delete?" } %><br>
  <%= link_to "Back to Dashboard", bookings_path %>
</div>
