<div class="home_search_wrapper">
  <div class="banner" style="background-image: linear-gradient(336deg, rgba(32,70,245,.8), rgba(32,70,245,0) 70.71%), url('https://images.unsplash.com/photo-1526142684086-7ebd69df27a5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f5767f515cad13d5aa42559ec8bb9a55&auto=format&fit=crop&w=1950&q=80');">
    <div class="banner-content">
      <h1 class="title">Be a Maestro</h1>
      <div class="home_form">
        <%= simple_form_for :room, url: search_rooms_path, wrapper: :inline_form, html: {class: 'form-inline'}, method: "get" do |f| %>
          <%= f.input :instrument_type, label: "Instrument", collection: ['Guitar', 'Piano', 'Drums', 'Harp'], prompt: "Find instrument", input_html: {class: "dropbtn"} %>
          <%= f.input :location, collection: ['Shanghai', 'Seoul', 'Chengdu', 'Beijing', 'Hong Kong', 'Barcelona'], prompt: "Location", input_html: {class: "dropbtn"} %>
          <%= f.input :start_time, placeholder: "Start time", as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.input :end_time, placeholder: "End time", as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.button :submit, "Go", class: "btn btn-primary home-button" %>
        <% end %>
      </div>
      <h2>Find the best space for your music</h2>
    </div>
  </div>
</div>
