<div class="form-container">
  <%= simple_form_for(@room) do |f| %>
    <div class="form-content">
      <div class="form-row form-group">
        <%= f.input :instrument_type, collection:['Piano', 'Drums', 'Harp', 'Cello', 'Guitar'] %>
      </div>
      <div class="form-row form-group">
        <%= f.input :description %>
      </div>
      <div class="form-row form-group">
        <%= f.input :location, label: "City", collection:['Shanghai', 'Seoul', 'Chengdu', 'Beijing', 'Hong Kong', 'Barcelona'] %>
      </div>
      <div class="form-row form-group">
        <%= f.input :address %>
      </div>
      <div class="form-row form-group ">
        <div class="left-input">

        <%= f.input :price, label: "Price /hour"%>
        </div>
        <div class="right-input">
        <%= f.input :currency, collection:['Euro', 'HK Dollar', 'Chinese Yuan', 'Won'] %>

        </div>
<!--         <div class="col-md-6">
        </div>
        <div class="col-md-6">
      </div> -->
      </div>
      <div class="form-row form-group">
        <%= f.file_field :image, multiple: true %>
      </div>

      <%= f.button :submit, 'Save', class: "btn-signup" %>
    </div>
  <% end %>

  <div class="form-image">
  </div>
</div>
